li {
	list-style-type: none;
}

body {
	font-family: Arial;
}

h1 {
	text-transform: uppercase;
	font-weight: bold;
}

p {
	text-align: justify;
	line-height: 2;
}

#overflow {
	overflow: auto;
	height: 50em;
}

.profil {
	width: 70%;
}